$create-dialog-container-width: 380px;
$create-dialog-container-height: 312px;

.create-dialog-container {
  //min-height: $create-dialog-container-height;
  //max-height: $create-dialog-container-height;
  //height: $create-dialog-container-height;

  .column-container {
    width: 330px;
  }
}


.item-type-dialog,
.item-type-dialog * {
  box-sizing: border-box;
}
.item-type-dialog {
  border-radius: 4px;
  border-style: solid;
  border-color: var(--tertiary-elements, #636d78);
  border-width: 1px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.item-type-dialog-icon {
  border-radius: 4px;
  padding: 4px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
}
.item-type-dialog-name {
  color: var(--main-text, #0b1b0f);
  text-align: left;
  font-family: var(
                  --body-body-medium-font-family,
                  "Roboto-Regular",
                  sans-serif
  );
  font-size: var(--body-body-medium-font-size, 14px);
  line-height: var(--body-body-medium-line-height, 20px);
  font-weight: var(--body-body-medium-font-weight, 400);
  position: relative;
  flex: 1;
}

@media only screen and (max-width: 980px) {
  .create-dialog-container {
    .column-container {
      width: unset;
    }
  }
}
