.list-single-user,
.list-single-user * {
  box-sizing: border-box;
}
.list-single-user {
  background: var(--light-theme-mainbackground, #ffffff);
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.list-single-user-avatar {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
}
.list-single-user-avatar-rectangle {
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.list-single-user-avatar-ellipse {
  background: var(--disabled-elements, #bcc1c5);
  border-radius: 50%;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.list-single-user-contents-user {
  height: auto;
  position: absolute;
  right: 17.86%;
  left: 17.86%;
  width: 64.29%;
  bottom: 17.86%;
  top: 17.86%;
  height: 64.29%;
  overflow: visible;
}
.list-single-user-subtitle {
  color: var(--color-font, #0b1b0f);
  text-align: left;
  font-family: var(--body-body-large-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--body-body-large-font-size, 16px);
  line-height: var(--body-body-large-line-height, 24px);
  font-weight: var(--body-body-large-font-weight, 400);
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
