.user-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 56px;
  padding: 8px 19px 8px 16px;
  gap: 16px;
  border-bottom: 1px solid var(--divider);


  &--disabled {
    cursor: not-allowed;
    color: var(--disabled-elements);
    fill: var(--disabled-elements);
  }

  &__avatar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__name {
    margin-left: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: var(--main-text);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 180px;


    @media only screen and (max-width: 980px) {
      width: 130px;
    }
  }
}
