.ai-assist-answer {
    padding: 0px 0px 15px 0px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;

  &__icon {
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    cursor: pointer;

    &__media-robot {
      align-self: stretch;
      flex: 1;
      height: auto;
      position: relative;
      overflow: visible;
      fill: var(--main-elements, #3978FC);
    }
  }
}

