$qb-light-primary: #3978FC;
$qb-light-color-background: #FFFFFF;
$qb-light-color-divider: #E7EFFF;
$qb-light-color-font: #0B121B;

$qb-dark-primary: #202F3E;
$qb-dark-color-background: #414E5B;
$qb-dark-color-divider: #FFFFFF;
$qb-dark-color-font: #3978FC;

$background-overlay-light: rgba(13, 31, 19, 0.8);
$background-overlay-dark: rgba(191, 199, 199, 0.8);

$primary-50: #0E1F0D;
$primary-100: #14301A;
$primary-200: #1A4126;
$primary-300: #205133;
$primary-400: #26623F;
$primary-500: #2C734C;
$primary-600: #328458;
$primary-700: #389565;
$primary-800: #3EAA71;
$primary-900: #44BB7E;
$primary-a-100: #FFFFFF;
$primary-a-200: #E8F9E5;
$primary-a-400: #8FD28E;
$primary-a-700: #76BD75;

$secondary-50: #7A7A7A;
$secondary-100: #8E8E8E;
$secondary-200: #A2A2A2;
$secondary-300: #B6B6B6;
$secondary-400: #CACACA;
$secondary-500: #DEDEDE;
$secondary-600: #E2E2E2;
$secondary-700: #E6E6E6;
$secondary-800: #EAEAEA;
$secondary-900: #EEEEEE;
$secondary-a-100: #FFFFFF;
$secondary-a-200: #F8F8F8;
$secondary-a-400: #D1D1D1;
$secondary-a-700: #B8B8B8;

$system-green-100: #C8F1D6;
$system-green-200: #A4E7BB;
$system-green-300: #80DDA0;
$system-green-400: #64D68B;
$system-green-500: #49CF77;

$error-100: #FFC4C1;
$error-200: #FF9D98;
$error-300: #FF766E;
$error-400: #FF584F;
$error-500: #FF3B30;

$information: #FDB0FF;
$highlight: #FFFDC1;
