.message-attachment-video-body{
  max-height: 130px;
  max-width: var(--max-width-audio-message);
  width: var(--max-width-audio-message);
  padding: 0;
  border-radius: 4px;

  &__link {
    color: var(--secondary-text, #636d78);
    text-align: left;
    font: var(--label-label-small);
    height: 16px;
  }
}

.message-attachment-video {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  //max-width: 300px;
  max-width: var(--max-width-audio-message);
  width: var(--max-width-audio-message);
  max-height: 160px;
}


