.forward-message-preview,
.forward-message-preview * {
  box-sizing: border-box;
}
.forward-message-preview {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.forward-message-preview-photo {
  border-radius: 8px;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  position: relative;
}
.forward-message-preview-message {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.forward-message-preview-message-caption {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.forward-message-preview-caption-info {
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.forward-message-preview-caption-info-icon {
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
}
.actions-forward-filled {
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: visible;
}
.forwarded-message-from-name {
  color: var(--tertiary-elements, #636d78);
  text-align: left;
  font: var(--label-label-medium, 500 12px/16px "Roboto", sans-serif);
  position: relative;
}
.forwarded-message-text {
  color: var(--main-text, #90979f);
  text-align: center;
  font: var(--body-body-small, 400 12px/16px "Roboto", sans-serif);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.forward-message-preview-message-caption-info-text {
  color: var(--main-text, #0b1b0f);
  text-align: center;
  font: var(--body-body-large, 400 16px/24px "Roboto", sans-serif);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.forward-message-preview-message-caption-info-file {
  color: var(--caption, #90979f);
  text-align: center;
  font: var(--body-body-small, 400 12px/16px "Roboto", sans-serif);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
