$members-container-header-height: 64px;
.members-container {
}
.members-container-header,
.members-container-header * {
  box-sizing: border-box;
}
.members-container-header {
  background: var(--color-background, #ffffff);
  padding: 16px 16px 16px 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;

  border-style: solid;
  border-color: var(--color-divider, #e7efff);
  border-width: 0 0 1px 0;

  height: $members-container-header-height;
}
.members-container-header-left {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.members-container-header-left-headline {
  color: var(--main-text, #0b1b0f);
  text-align: left;
  font: var(--title-title-large);
  position: relative;
}
.members-container-header-left-headline-badge {
  background: var(--disabled-elements, #bcc1c5);
  border-radius: 30px;
  padding: 2px 6px 2px 6px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.members-container-header-left-headline-badge-value {
  color: var(--color-background, #ffffff);
  text-align: center;
  font: var(--label-label-medium);
  position: relative;
}
.members-container-header-icon {
  border-radius: 4px;
  padding: 4px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
  cursor: pointer;
}

.members-container-members-list-wrapper {
  display: flex;
}

.members-container-text-field {
  padding: 16px;
}

.members-container-text-field-icon {
  width: 24px;
  height: 24px;
  fill: var(--tertiary-elements);
}
