.preview-file-message {
  display: flex;
  gap: 8px;
  align-items: center;

  &__image {
    object-fit: cover;
    display: block;
    width: 32px;
    height: 32px;
    background: var(--incoming-background, #e4e6e8);
    border-radius: 8px;
    flex-shrink: 0;
  }

  &__icon {
    fill: var(--caption);
    padding: 6px;
  }

  &__name {
    color: var(--secondary-text);
    text-align: left;
    font: 400 12px/16px "Roboto", sans-serif;
    letter-spacing: 0.4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
