@use '../../themes/styles/mixins' as *;

.qb-avatar {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  overflow: hidden;
  border-radius: 50%;
  background-color: var(--disabled-elements);
  color: var(--secondary-text);

  @include applyBorderBox;

  svg {
    height: 26px;
    width: 26px;
    fill: var(--tertiary-elements);
  }

  &__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &--xs {
    width: 32px;
    height: 32px;
  }

  &--sm {
    width: 36px;
    height: 36px;
  }

  &--md {
    width: 40px;
    height: 40px;
  }

  &--lg {
    width: 56px;
    height: 56px;

    svg {
      height: 33px;
      width: 33px;
    }
  }

  &--xl {
    width: 64px;
    height: 64px;
  }

  &--xxl {
    width: 80px;
    height: 80px;
  }
}
