.message-attachment-image-body{
  max-width: var(--max-width-image-message);
  max-height: 160px;
  padding: 0;
  border-radius: 4px;
}

.message-attachment-image {
  display: flex;
  justify-content: center;
  flex-flow: row;
  max-width: var(--max-width-image-message);
  max-height: 160px;
}
