
.avatar-wrap {
  padding: 0px 0px 16px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.avatar {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  position: relative;
}
.rectangle {
  width: 36px;
  height: 36px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.ellipse {
  background: var(--secondary-secondary-100, #bcc1c5);
  border-radius: 50%;
  width: 36px;
  height: 36px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.contents-user {
  position: absolute;
  left: 6.43px;
  top: 6.43px;
  overflow: visible;
}
