@import '../../themes/styles/mixins';

.dropdown {
  width: 100%;
  height: 100%;
  position: relative;

  @include applyBorderBox;

  &__toggle {
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    margin: 0;
    cursor: pointer;
    outline: none;
  }

  &__menu {
    background-color: var(--main-background);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.04),
      0 3px 14px 0 rgba(0, 0, 0, 0.08);
    border-radius: 4px;

    padding: 8px 0px;
    margin: 0;
    z-index: 100;
    position: absolute;
    overflow: hidden;
    list-style-type: none;
    display: none;

    &--topRight {
      bottom: 100%;
    }

    &--left {
      top: 50%;
      transform: translateY(-50%);
      right: 100%;
    }

    &--opened {
      display: block;
    }
  }

  &__option {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;

    height: 32px;
    width: 135px;
    padding: 4px 16px;

    cursor: pointer;
  }

  &__label {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 3px;
  }
}
