.reply-preview-image-body{
  // border: 1px solid red;
  //max-width: 44px;
  //max-height: 44px;
  //min-width: 44px;
  //min-height: 44px;
  //width: 44px;
  //height: 44px;
  //padding: 0;
  //border-radius: 8px;
  border-radius: 8px;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  position: relative;
}
