.dialog-header-right,
.dialog-header-right * {
  box-sizing: border-box;
}
.dialog-header-right {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.dialog-header-right-icon {
  border-radius: 4px;
  padding: 4px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
}
.actions-phone-filled {
  align-self: stretch;
  flex: 1;
  height: auto;
  position: relative;
  overflow: visible;
}
.status-information {
  align-self: stretch;
  flex: 1;
  height: auto;
  position: relative;
  overflow: visible;
}

