.message-item-additional-part {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;

  &__loader {
    width: 24px;
    height: 24px;
    fill: var(--main-elements);
  }

  &__actions {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
