@use '../../themes/styles/mixins' as *;

.dialog-banner {
  background: var(--main-elements, #3978fc);
  border-radius: 4px;
  padding: 2px 8px 2px 8px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 312px;
  cursor: pointer;

  @include applyBorderBox; // Переносится после всех основных свойств

  &__text {
    color: var(--color-background, #ffffff);
    text-align: center;
    font: var(--label-label-small);
  }

  &__navigation-icon {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    fill: var(--color-background, #ffffff);
  }
}
