.right {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  position: relative;
  margin-bottom: 5px;
}
.rephrase-icon{
  width: 24px;
  height: 24px;
  cursor: pointer;
  fill: var(--color-icon);

  &--disable {
    cursor: default;
    fill: var(--disabled-elements);
  }

  svg path{
    fill: var(--color-icon);
  }
}
