.dialog-header,
.dialog-header * {
  box-sizing: border-box;
}
.dialog-header {
  background: var(--main-background, #ffffff);
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.dialog-header-left {
  display: flex;
  flex-direction: row;
  gap: 33px;// todo artik 29.12.2023 changed was 18 px
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 100%;
}
@media only screen and (max-width: var(--min-width-screen-desktop)) {
  .dialog-header-left {
    gap: 3px;// todo artik 29.12.2023 changed was 18 px
  }
}
.dialog-header-left-headline {
  display: flex;
  flex-direction: row;
  //gap: 33px;
  align-items: center;
  justify-content: flex-start;
  // flex-shrink: 0;
  position: relative;
  width: 100%;
}
.dialog-header-left-avatar-and-name {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.dialog-header-dialog-name {
  color: var(--main-text, #0b1b0f);
  text-align: left;
  font: var(--title-title-medium);
  position: relative;
}
.dialog-header-line,
.dialog-header-line * {
  box-sizing: border-box;
}
.dialog-header-line {
  border-style: solid;
  border-color: var(--color-divider, #e7efff);
  border-width: 1px 0 0 0;
  //width: 360px;
  height: 0px;
  position: relative;
}

.dh-avatar,
.dh-avatar * {
  box-sizing: border-box;
}
.dh-avatar {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
}
.dh-avatar-rectangle {
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.dh-avatar-ellipse {
  background: var(--disabled-elements, #bcc1c5);
  border-radius: 50%;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}

.dh-avatar-contents-user {
  height: auto;
  position: absolute;
  right: 17.86%;
  left: 17.86%;
  width: 64.29%;
  bottom: 17.86%;
  top: 17.86%;
  height: 64.29%;
  overflow: visible;
}




