.default-attachment-component-container,
.default-attachment-component-container * {
  box-sizing: border-box;
}
.default-attachment-component-container {
  // background: var(--incoming-background, #e4e6e8);
  border-radius: 22px 22px 22px 0px;
  padding: 8px 16px 8px 1px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;

  &--file-wrapper {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;

    &--placeholder {
      flex-shrink: 0;
      width: 32px;
      height: 32px;
      position: static;

      &__bg {
        background: var(--field-border, #90979f);
        border-radius: 8px;
        width: 32px;
        height: 32px;
        position: absolute;
        left: 0px;
        top: 0px;
      }

      &__icon {
        border-radius: 4px;
        padding: 4px;
        display: flex;
        flex-direction: row;
        gap: 0px;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        position: absolute;
        left: 4px;
        top: 4px;
      }
    }

    &--file-d {
      color: var(--secondary-elements, #202f3e);
      text-align: left;
      font: 400 14px/20px "Roboto", sans-serif;
      position: relative;
    }
  }
}



.media-text-document {
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: visible;
}

