.outgoing-replied-message-context-menu{
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-width: 35px;
}

.outgoing-replied-message,
.outgoing-replied-message * {
  box-sizing: border-box;
}
.outgoing-replied-message {
  background: var(--secondary-background, #ffffff);
  padding: 10px 8px 0px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-end;
  justify-content: flex-end;
  flex-shrink: 0;
  //width: 320px;
  position: relative;
}
.outgoing-replied-text-message-caption {
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items:  flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.outgoing-replied-message-data {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.outgoing-replied-message-name {
  // padding: 0px 0px 0px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.outgoing-replied-message-caption {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.outgoing-replied-message-caption-replied {
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.outgoing-replied-message-caption-replied-icon {
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
}
.actions-replied-filled {
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: visible;
}
.outgoing-replied-message-caption-replied-from-name {
  color: var(--tertiary-elements, #636d78);
  text-align: left;
  font: var(--label-label-medium, 500 12px/16px "Roboto", sans-serif);
  position: relative;
}
.outgoing-replied-message-chat-bubble-background {
  background: var(--outgoing-background, #e7efff);
  border-radius: 22px 22px 0px 22px;
  padding: 8px 12px 8px 12px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  // max-width: 320px;
  max-width: var(--max-width-message-bubble);
}
.outgoing-replied-message-single-line {
  color: var(--secondary-text, #0b1b0f);
  text-align: left;
  font: var(--body-body-medium, 400 14px/20px "Roboto", sans-serif);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.outgoing-replied-message-func {
  // padding-top: 15px;
  //padding: 0px 0px 20px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.outgoing-replied-message-caption {
  //padding: 0px 0px 16px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.outgoing-replied-message-caption-time {
  color: var(--secondary-text, #636d78);
  text-align: right;
  font: var(--label-label-small, 500 11px/16px "Roboto-Medium", sans-serif);
  position: relative;
}

.outgoing-replied-message-caption-status {
  color: var(--secondary-text, #636d78);
  text-align: right;
  font: var(--label-label-small, 500 11px/16px "Roboto-Medium", sans-serif);
  position: relative;
}
