.loader {
  &--sm {
    width: 24px;
    height: 24px;
  }

  &--md {
    width: 48px;
    height: 48px;
  }

  &--lg {
    width: 52px;
    height: 52px;
  }

  animation: rotate 1s infinite linear;

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
