$dialog-information-container-height: 800px;
$dialog-information-container-dialog-information-height: 64px;

.dialog-information-container {
  // min-height: $dialog-information-container-height;
  // max-height: $dialog-information-container-height;
  // height: $dialog-information-container-height;
  // border: 1px solid var(--divider);

}
.header-dialog-info,
.header-dialog-info * {
  box-sizing: border-box;
}
.header-dialog-info {
  background: var(--color-background, #ffffff);
  padding: 16px 16px 16px 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  border-bottom: 1px solid var(--divider);
}
.header-dialog-info-headline {
  color: var(--main-text, #0b1b0f);
  text-align: left;
  font: var(--title-title-large);
  position: relative;
}
.header-dialog-info-icon {
  border-radius: 4px;
  padding: 4px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
}

.dialog-information-profile,
.dialog-information-profile * {
  box-sizing: border-box;
}
.dialog-information-profile {
  background: var(--color-background, #ffffff);
  padding: 24px 0px 24px 0px;
  align-self: stretch;
  flex-flow: column;
  flex-shrink: 0;
  height: 160px;
  position: relative;
  border-bottom: 1px solid var(--divider);
}
.dialog-information-profile-avatar {
  // width: 80px;
  height: 80px;
  // position: absolute;
  left: 140px;
  top: 24px;
}
.dialog-info-profile-avatar-default-icon {
  display: flex;
  justify-content: center;
}
.dialog-info-profile-avatar-ellipse {
  background: var(--disabled-elements, #bcc1c5);
  border-radius: 50%;
  position: absolute;
  height: 81px;
  width: 81px;
  top: 24px;
}
.dialog-info-profile-avatar-contents {
  height: auto;
  position: absolute;
  right: 17.86%;
  left: 17.86%;
  width: 64.29%;
  bottom: 17.86%;
  top: 17.86%;
  height: 64.29%;
  overflow: visible;
}
.dialog-information-profile-dialog-name {
  margin-top: 8px;
  color: var(--main-text, #0b1b0f);
  text-align: center;
  font: var(--title-title-medium);
  // position: absolute;
  left: 134.5px;
  top: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dialog-information-profile-edit {
  position: relative;
  right: -10px;
  //top: 30px;
  border-radius: 4px;
  padding: 8px 56px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  position: absolute;
  //left: 294px;
  top: 8px;
}
.dialog-information-profile-edit-button {
  color: var(--main-elements, #3978fc);
  text-align: left;
  font: var(--button-default);
  position: relative;
}


.dialog-info-action-wrapper-settings,
.dialog-info-action-wrapper-settings * {
  box-sizing: border-box;
}
.dialog-info-action-wrapper-settings {
  background: var(--color-background, #ffffff);
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  border-bottom: 1px solid var(--divider);
}
@media only screen and (max-width: var(--min-width-screen-desktop)) {
  .dialog-info-action-wrapper-settings {
    padding: 6px;
  }
}
.no-padding {
  padding: 0;
}
.dialog-info-action-wrapper-settings-icon {
  border-radius: 4px;
  padding: 4px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
}
.dialog-info-action-wrapper-settings-subtitle {
  color: var(--main-text, #0b1b0f);
  text-align: left;
  font: var(--body-body-large);
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.dialog-info-action-wrapper-settings-contents {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}

.dialog-info-action-wrapper-settings-right {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  position: relative;
}
.dialog-info-action-wrapper-settings-right-badge {
  background: var(--disabled-elements, #bcc1c5);
  border-radius: 30px;
  padding: 2px 6px 2px 6px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.dialog-info-action-wrapper-settings-right-badge-title {
  color: var(--color-background, #ffffff);
  text-align: center;
  font: var(--label-label-medium);
  position: relative;
  padding: 0px 5px 0px 5px;
}

