.dialog-item-element,
.dialog-item-element * {
  box-sizing: border-box;
}
.dialog-item-element {
  background: var(--main-background, #ffffff);
  padding: 8px 19px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 332px;
  position: relative;

}
.dialog-item-element-avatar {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
}
.dialog-item-element-avatar-rectangle {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.dialog-item-element-avatar-ellipse {
  background: var(--disabled-elements, #bcc1c5);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.contents-user {
  position: absolute;
  left: 7.14px;
  top: 7.14px;
  overflow: visible;
}
.dialog-item-element-subtitle {
  color: var(--main-text, #0b1b0f);
  text-align: left;
  font: var(--body-body-large, 400 16px/24px "Roboto", sans-serif);
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.dialog-item-element-checkbox {
  border-radius: 4px;
  padding: 4px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
}
.toggle-check-on {
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: visible;
}
