@import "../../../../../index";

$preview-dialog-color-divider: var(--color-divider);
$row-center-container-base-font-size: 12px;
$row-center-container-base-font-line-height: 32px;
$row--main-container-min-height: 72px;
$row--main-container-min-width: 320px;
$row--main-container-text-title-width: 120px;
$row--main-container-text-content-long-width: 200px;
$row--main-container-text-content-short-width: 180px;

$preview-dialog-avatar-wrapper-background-color-public: var(--color-background-modal);
$preview-dialog-avatar-wrapper-background-color-private: var(--caption);

.preview-dialog-container{
  height: $row--main-container-min-height;
  min-height: $row--main-container-min-height;
  min-width: $row--main-container-min-width;

  padding: 8px 16px;
  //padding-left: 16px;
  //padding-right: 16px;
  //padding-top: 8px;
  //padding-bottom: 8px;

  border: 1px solid $preview-dialog-color-divider;
  &.preview-selected{
    background-color: $preview-dialog-color-divider;
  }
  &__text-title{
    text-align: left;
    max-width: $row--main-container-text-title-width;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  &__text {
    position: relative;
    font-size: $row-center-container-base-font-size;
    font-family: 'Roboto';
    color: var(--color-font);
    width: $row--main-container-text-content-long-width; /* Could be anything you like. */
  }
  &__text-left {
    position: relative;
    font-size: $row-center-container-base-font-size;
    font-family: 'Roboto';
    color: var(--color-font);
    width: $row--main-container-text-content-short-width; /* Could be anything you like. */
  }

  &__text-concat {
    position: relative;
    display: inline-block;
    word-wrap: break-word;
    overflow: hidden;
    max-height: $row-center-container-base-font-line-height; /* (Number of lines you want visible) * (line-height) */
    line-height: 11px; // $row-center-container-base-font-size;
    text-align:justify;
  }

  //&__text.ellipsis::after {
  //  content: "...";
  //  position: absolute;
  //  right: -6px;
  //  // bottom: -1px;
  //}
  //&__text-left.ellipsis::after {
  //  content: "...";
  //  position: absolute;
  //  right: -6px;
  //  // bottom: -1px;
  //}

}

.avatar-wrapper{
  background: $preview-dialog-avatar-wrapper-background-color-private;
  &.public_avatar{
    background: $preview-dialog-avatar-wrapper-background-color-public;
  }
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  &.icon_colors{
    color: var(--color-icon);
    background-color: var(--secondary-text);
  }
}
.badge-text-style{
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding-top: 2px;
}

