@import "Presentation/themes/styles/fonts";
@import "Presentation/themes/styles/theme_colors_scheme";
@import "Presentation/themes/styles/variables";

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  color: var(--main-text);
  background-color: var(--main-background);
  overflow: hidden !important;
  scrollbar-width: none !important;
  max-height: 810px;
  max-width: 1380px;
}
