
.dialog-preview-container {
  display: flex;
  border: 1px solid var(--chat-input);
  gap: 16px;
}
.dialog-preview-container-left {
  flex: 1;
  margin-left: 10px;
}
.dialog-preview-container-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
}

.dialog-preview,
.dialog-preview * {
  box-sizing: border-box;
}
.dialog-preview {
  padding: 6px 6px 6px 6px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.dialog-preview-item {
  background: var(--color-background, #ffffff);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.dialog-preview-avatar {
  flex-shrink: 0;
  width: 56px;
  height: 56px;
  position: relative;
}
.dialog-preview-avatar-rectangle {
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.dialog-preview-avatar-ellipse {
  background: var(--disabled-elements, #bcc1c5);
  border-radius: 50%;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.dialog-preview-avatar-contents-user {
  height: auto;
  position: absolute;
  right: 17.86%;
  left: 17.86%;
  width: 64.29%;
  bottom: 17.86%;
  top: 17.86%;
  height: 64.29%;
  overflow: visible;
}
.dialog-preview-text {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.dialog-preview-text-subtitle {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.dialog-preview-text-subtitle-caption {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.dialog-preview-text-subtitle-caption-name {
  color: var(--main-text, #0b1b0f);
  text-align: left;
  font: var(--label-label-medium, 500 12px/16px "Roboto", sans-serif);
  position: relative;
}
.dialog-item-preview-text{
  color: var(--main-text);
  text-align: left;
  font: var(--body-body-small, 400 12px/16px "Roboto", sans-serif);
  position: relative;
  align-self: stretch;
  height: 32px;
}

.dialog-preview-text-subtitle-caption2 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.dialog-preview-text-subtitle-caption2-time {
  color: var(--tertiary-elements, #636d78);
  text-align: right;
  font: var(--label-label-small, 500 11px/16px "Roboto", sans-serif);
  position: relative;
}
.dialog-preview-text-subtitle-text {
  color: var(--secondary-text, #636d78);
  text-align: left;
  font: var(--body-body-small, 400 12px/16px "Roboto", sans-serif);
  position: relative;
  align-self: stretch;

  ///
  display: inline-block;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 32px;
  height: 32px;
}

.dialog-preview-text-subtitle-message-badge {
  background: var(--main-elements, #3978fc);
  border-radius: 30px;
  padding: 2px 6px 2px 6px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  height: 22px;
}
.dialog-preview-text-subtitle-message-badge-v {
  color: var(--color-background, #ffffff);
  text-align: center;
  font: var(--label-label-medium, 500 12px/16px "Roboto", sans-serif);
  position: relative;
}

.dialog-preview-text-subtitle-message {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
}

.dialog-preview-icon-close {
  border-radius: 4px;
  padding: 4px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 12px;
  height: 22px;
  position: relative;
  cursor: pointer;
}

.dpa-contents-user {
  height: auto;
  position: absolute;
  right: 17.86%;
  left: 17.86%;
  width: 64.29%;
  bottom: 17.86%;
  top: 17.86%;
  height: 64.29%;
  overflow: visible;
}
.dialog-item-preview-border{
  border-style: solid;
  border-color: var(--color-divider, #e7efff);
  border-width: 0 0 1px 0;
}




