.outgoing-replied-text-message,
.outgoing-replied-text-message * {
  box-sizing: border-box;
}
.outgoing-replied-text-message {
  background: var(--secondary-background, #ffffff);
  padding: 0px 8px 2px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-end;
  justify-content: flex-end;
  flex-shrink: 0;
  //width: 680px;
  position: relative;
}
.outgoing-replied-text-message-info {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.outgoing-replied-text-message-info-name {
  padding: 0px 16px 0px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.outgoing-replied-text-message-info-name-caption {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.outgoing-replied-text-message-info-name-caption-reply {
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.outgoing-replied-text-message-info-name-caption-reply-icon {
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
}
.actions-reply-filled {
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: visible;
}
.outgoing-replied-text-message-info-name-caption-reply-to-name {
  color: var(--tertiary-elements, #636d78);
  text-align: left;
  font: var(--label-label-medium, 500 12px/16px "Roboto", sans-serif);
  position: relative;
}
.outgoing-replied-text-message-info-message-bubble {
  background: var(--outgoing-background, #e7efff);
  border-radius: 22px;
  padding: 8px 12px 8px 12px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  max-width: 504px;
}
.outgoing-replied-text-message-info-message-line {
  color: var(--secondary-text, #636d78);
  text-align: left;
  font: var(--body-body-medium, 400 14px/20px "Roboto", sans-serif);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.message-view-container--outgoing-message-wrapper--message {
  display: flex;
  //flex-direction: column;
  gap: 2px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
