$message-view-container-header-min-height: 64px;
$message-view-container-chat-input-min-height: 54px;
.chat-input{
  &:disabled{
    background-color: dimgrey;
    color: linen;
    opacity: 1;
    cursor: not-allowed;
  }
  // border: 1px solid red;
  //border-top: 1px solid var(--divider);
  // flex: 1 1 $message-view-container-wrapper-min-width;
  min-height: $message-view-container-chat-input-min-height;
  max-height: calc(2 * $message-view-container-header-min-height + $message-view-container-chat-input-min-height);
  height: $message-view-container-chat-input-min-height;

  width: 100%;
  display: flex;
  //
  flex-direction: row;
  flex-wrap: nowrap;

  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 2px;

  gap: 6px;

  textarea{
    // border: 3px solid blue;
    width: 100%;
    height: 44px;
    min-Height: 44px;
    max-Height: calc(2 * $message-view-container-header-min-height);
    background-Color: var(--chat-input);
    border-Radius: 4px;
    padding-left: 16px;
    padding-top: 8px;
    // padding: 5px 5px;
    // text-align: center;
    //vertical-align: middle;
    line-height: 24px;
    font-size: 16px;
    margin: 0 auto;
    resize: none;
  }

}
.input-text-message * {
  box-sizing: border-box;
}
.input-text-message {
  background: var(--chat-input);
  border-radius: 4px;
  //padding: 10px 8px 10px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-end;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.type-message {
  color: var(--field-border);
  text-align: left;
  font: var(--body-body-large);
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.type-message textarea{
  color: var(--input-elements);
  font: var(--body-body-large);
  border: none;
  outline: none;
}
.right {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  position: relative;
  margin-bottom: 5px;
}
